.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;  
  border-bottom: 15px solid black;
}

.scroll-to-top {
    position: fixed; /* Fixed/sticky position */
    padding: 0px;
    bottom: 5px; /* Place the button at the bottom of the page */
    right: 15px; /* Place the button 30px from the right */
    width: 25px;
    height: 25px;   
    display: block;    
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
}

#scroll-to-top:after,
#scroll-to-top:before{
  content: '';
  width: 10px;
  height: 3px;
  position: absolute;
  background: white;
  top: 10px;
}

#scroll-to-top:before{
  transform: rotate(-45deg);
  left: 5px;
}

#scroll-to-top:after{
  transform: rotate(45deg);
  right: 5px;
}

#scroll-to-top:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}